/* Import external fonts first */
@import url('https://fonts.googleapis.com/css2?family=Smooch+Sans&display=swap');
@import 'devicon/devicon.min.css';

/* Tailwind imports - these should stay after your custom imports */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom fonts */
@font-face {
  font-family: "matrix";
  src: local("matrix"),
    url('./assets/fonts/Matrix/matrix.ttf');
}

@layer base {
  /* Apply default font globally */
  body {
    font-family: 'Smooch', sans-serif;
  }
}

:root {
  /* Latte Theme */
	--background: "#0F0F0F";
	--surface: "#1C1C1E";
	--textPrimary: "#E5E5E5";
	--textSecondary: "#A1A1AA";
	--accent: "#7CBF9E";
}
