/* Import external fonts first */
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Smooch+Sans&display=swap');
@import 'devicon/devicon.min.css';

/* Tailwind imports - these should stay after your custom imports */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom fonts */
@font-face {
  font-family: "matrix";
  src: local("matrix"),
    url('./assets/fonts/Matrix/matrix.ttf');
}

@layer base {
  /* Apply default font globally */
  body {
    @apply font-sans;
  }
}

.underline-animate::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0%;
  height: 2px;
  background-color: currentColor;
  transition: width 0.3s ease, left 0.3s ease;
}

.underline-animate:hover::after {
  width: 100%;
  left: 0;
}

@media (min-width: 1024px) {
  .vertical-timeline.vertical-timeline--two-columns {
    width: 100% !important;
  }

  .vertical-timeline-element {
    margin: 50px 0;
  }
}

.vertical-timeline-element-content .vertical-timeline-element-date {
    float: left;
    padding: .8em 0;
    opacity: 1;
    color: var(--primary)
}

.clickable-glow {
  color: var(--secondary);
  font-weight: 500;
  cursor: pointer;
  text-decoration: none;
  animation: glow-pulse 1.5s ease-in-out infinite;
}

@keyframes glow-pulse {
  0%, 100% {
    text-shadow: 0 0 0px var(--secondary);
    opacity: 1;
  }
  50% {
    text-shadow: 0 0 15px var(--primary);
    opacity: 1;
  }
}

:root {
	--background: #0F0F0F;
	--surface: #1C1C1E;
	--primary: #E5E5E5;
	--secondary: #A1A1AA;
	--accent: #7CBF9E;
  --human-ready: #0081c6;
  --coalition: #ffffff;
  --inesc-id: #00597d;
  --ist: #009fe3;
}

[data-theme="light"] {
	--background: #E5E5E5;
	--surface: #A1A1AA;
	--primary: #0F0F0F;
	--secondary: #1C1C1E;
	--accent: #7CBF9E;
}
